# SPDX-FileCopyrightText: 2019 Replicated, Inc.
#
# SPDX-License-Identifier: Apache-2.0

name: build
on:
  pull_request:
    branches: [main]
jobs:
  goreleaser-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup Snapcraft
        uses: samuelmeuli/action-snapcraft@v3
      - name: Create Snapcraft cache dirs
        run: |
          mkdir -pv $HOME/.cache/snapcraft/download
          mkdir -pv $HOME/.cache/snapcraft/stage-packages

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --skip=publish --snapshot
