# SPDX-FileCopyrightText: 2019 Replicated, Inc.
#
# SPDX-License-Identifier: Apache-2.0

name: release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup Snapcraft
        uses: samuelmeuli/action-snapcraft@v3
      - name: Create Snapcraft cache dirs
        run: |
          mkdir -pv $HOME/.cache/snapcraft/download
          mkdir -pv $HOME/.cache/snapcraft/stage-packages

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: ~> v2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest release artifacts
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
        with:
          subject-path: "dist/kubectl-klock_*.tar.gz, dist/kubectl-klock_*.zip"

      - name: Update new version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.47

      - name: Publish Snaps to the Snap Store (stable channel)
        run: for snap in $(ls dist/*.snap); do snapcraft upload --release=edge $snap; done
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}
