# SPDX-FileCopyrightText: 2019 Replicated, Inc.
#
# SPDX-License-Identifier: Apache-2.0

name: release
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Setup Snapcraft
        uses: samuelmeuli/action-snapcraft@v2
      - name: Create Snapcraft cache dirs
        run: |
          mkdir -pv $HOME/.cache/snapcraft/download
          mkdir -pv $HOME/.cache/snapcraft/stage-packages

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update new version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.46
          
      - name: Publish Snaps to the Snap Store (stable channel)
        run: for snap in $(ls dist/*.snap); do snapcraft upload --release=stable $snap; done
        env:
          SNAPCRAFT_STORE_AUTH: candid
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}
